@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: 'Open Sans', sans-serif;
   height: 10000px;
    font-weight: 400;
}
/* Nav */
nav{
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 11111111;
    border-bottom:1.5px solid rgba(255, 255, 255, 0.08) ;

    
}
nav .container{
    width: 1200px;
    margin: auto;
}
nav .row{
    display: flex;
    justify-content: space-between;
}
nav .row .logo{
    flex: 60%;
    max-width: 60%;

  
}
nav .row .logo img{
    width: 19%;
    height: 36px;
}
nav .row .list-nav{
    flex: 40%;
    max-width: 40%;
  
}
nav .row .list-nav ul{
    /* background-color: aqua; */
    list-style: none;
    display: flex;

}

nav .row .list-nav ul a{
    color: #fff;
    text-decoration: none;
    padding-right:28px ;
    font-size: 19px;
    font-weight: 500;

}
nav .row .list-nav ul a i{
    font-size: 17px;

}

/* js part css */
.nav-scrolled {
    background-color: white !important;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1) !important;
  }

  .nav-scrolled .list-nav ul a {
    color: #000 !important;
  }

/* Nav */

/* Header */
header{
    background-image: url(../img/business-main.jpg);
    width: 100%;
    height: 817px;
    background-size:cover ;
    background-position: center;
    position: relative;

}
header .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
}
header .header-dec{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}
header .header-dec h2{
    color: #fff;
    font-size: 76px!important;
    letter-spacing: 1px;
    font-weight: 900;
    margin: 20px 0;
}
header .header-dec p{
    font-size:30px ;
    font-weight: 400;
    color: rgba(255,255,255,.92);
    margin-bottom: 20px

}
header .header-dec .btn-1 ,header .header-dec .btn-2 {
    padding: 17px 30px;
    font-size: 14px ;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s ease-in all;
    color: white;
    font-weight: 600;
}
header .header-dec .btn-1{
    background-color: #4274B7;
    &:hover{
        background-color: #fff;
        color: black;
     
    }
}
header .header-dec .btn-2 {
    background-color: #fff;
    color: black;
    &:hover{
        background-color: rgba(255, 255, 255, 0.6);
        color:  rgba(0, 0, 0, 0.7);
    }
}

header .animate{ 
    position: absolute;
    bottom : 40px ;
    left: 48%;
}
header .animate .scroll-animate{
    width: 30px;
    height: 50px;
    display: inline-block;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.8) ;
    text-align: center;
    overflow: hidden;


}
header .animate .scroll-animate span{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    animation-name: scrollBtn ;
    animation-duration: 3s;
    animation-iteration-count: infinite;


}


@keyframes scrollBtn{
  from{
        transform: translateY(-118px);
        opacity: 1;
    }
   to{
    transform: translateY(20px);
    background-color: rgba(255, 255, 255, 0.8);
    }

}

/* Header */

/* Data Section */

.data{
    padding: 100px 0;

}
.data .container{
    width: 1200px;
    margin: auto;
}
.data .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.data .container .row .data-info{
    flex : 33.333%;
    max-width: 33.333%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-right:41px ;
}
.data .container .row .data-info i{
    margin-right: 15px;
    font-size: 22px;
}
.data  .info-body h5{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #303030;
    line-height: 1.38em;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;

}
.data .container .row .data-info .info-body p{
    font-size: 15px;
    line-height: 1.86em;
    color: #888;
    font-family: 'Roboto', sans-serif;

}
/* Data Section */


/* Who are we? */

.whoAreWe{
    background: #f8f8f8;
    padding: 130px 0;
}

.whoAreWe .container{
    width: 1100px;
    margin: auto;
}

.whoAreWe .row{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.whoAreWe .container .row .whoAreWe-img{
    flex: 50%;
    max-width: 50%;
}

.whoAreWe .container .row .whoAreWe-img img{
    width: 535px;
}

.whoAreWe .container .row .whoAreWe-content{
    flex: 50%;
    max-width: 50%;
    padding-top: 40px;
}

.whoAreWe .container .row .whoAreWe-content h3{
    font-size: 28px;
    font-weight: 500;
    font-family: "Roboto";
    color: #303030;
    margin-bottom: 40px;
}

.whoAreWe .container .row .whoAreWe-content p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    line-height: 28px;
    color: #686868;
    margin-bottom: 40px;

}

.whoAreWe .container .row .whoAreWe-content ul{
    list-style: none;
    margin-bottom: 40px;
}

.whoAreWe .container .row .whoAreWe-content ul li{
    font-weight: 400;
    color: #686868;
    margin-bottom: 20px;
}

.whoAreWe .container .row .whoAreWe-content ul li i{
    margin-right: 15px;
    color: #4274b7;
    font-weight: 900;
}

.whoAreWe .container .row .whoAreWe-content .btn-1{
    padding: 15px 20px;
    font-size: 12px ;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s ease-in all;
    color: white;
    font-weight: 600;


    background-color: #4274B7;
    &:hover{
        background-color: #333;
        color: white;
     
    }
}



/* Our Secret */

.ourSecret{
    padding: 130px 0;
}

.ourSecret .container{
    width: 1100px;
    margin: auto;
}

.ourSecret .row{
    display: flex;
    justify-content: center;
}


.ourSecret .container .row .ourSecret-content{
    flex: 50%;
    max-width: 50%;
    padding-top: 40px;
}

.ourSecret .container .row .ourSecret-content h3{
    font-size: 28px;
    font-weight: 500;
    font-family: "Roboto";
    color: #303030;
    margin-bottom: 40px;
}

.ourSecret .container .row .ourSecret-content p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    line-height: 28px;
    color: #686868;
    margin-bottom: 40px;
    
}

.ourSecret .container .row .ourSecret-content ul{
    list-style: none;
    margin-bottom: 40px;
}

.ourSecret .container .row .ourSecret-content ul li{
    font-weight: 400;
    color: #686868;
    margin-bottom: 20px;
}

.ourSecret .container .row .ourSecret-content ul li i{
    margin-right: 15px;
    color: #4274b7;
    font-weight: 900;
}

.ourSecret .container .row .ourSecret-img{
    flex: 50%;
    max-width: 50%;
}

.ourSecret .container .row .ourSecret-img img{
    width: 535px;
}

.ourSecret .container .row .ourSecret-content .btn-1{
    padding: 15px 20px;
    font-size: 12px ;
    text-transform: uppercase;
    border: 0;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: 0.3s ease-in all;
    color: white;
    font-weight: 600;


    background-color: #4274B7;
    &:hover{
        background-color: #333;
        color: white;
     
    }
}



/* Our Service */

.ourService{
    padding: 60px;
    text-align: center;
    background-color: #F8F8F9;
}

.ourService .container{
    width: 1100px;
    margin: auto;
}

.ourService .container .heading{
    margin-bottom: 70px;
}

.ourService .container .heading i{
    color: #4274b7;
    font-size: 38px;
    margin-bottom: 20px;
}

.ourService .container .heading h2{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}

.ourService .container .heading p{
    color: #888;
    font-size: 18px;
}

.ourService .container .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ourService .container .ourService-content{
    flex: 20%;
    max-width: 30%;
    margin: 0 20px 70px 0;
}

.ourService .container .ourService-content i{
    background-color: #4274b7;
    color: white;
    font-size: 22px;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.ourService .container .ourService-content h4{
    color: #303030;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.ourService .container .ourService-content p{
    color: #888;
    font-size: 15px;
    line-height: 30px;
}




/* <!-- section Testimonials --> */
.Testimonials{
    background-image: url(../img/business-main.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    text-align: center;

} 
.Testimonials .overlay{
    width: 100%;
    height: 100%;
    background-color: #4274b7;
    opacity: .9;
    padding-top: 120px;
    color: #fff;
}
.Testimonials .overlay .Testimonials-desc .comment{
    font-size: 43px;
    margin-bottom: 40px;
}
.Testimonials .overlay .Testimonials-desc .p-testimonials{
    width: 1089px;
    height: 83.7;
    text-align: center;
    margin: auto;

}
.Testimonials .overlay .Testimonials-desc p{
    font-size: 1.5em;
    line-height: 45px;
    margin-bottom: 40px ;
}
.Testimonials .overlay .Testimonials-desc .p-testimonials i{
    font-size: 10px;
}


.Testimonials .overlay .Testimonials-desc span{
    display: block;
}
.Testimonials .overlay .Testimonials-desc .sp-1{
    color: #fff;
    font-weight: bold;
    font-size: 16.2px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 10px;

}
.Testimonials .overlay .Testimonials-desc .sp-2{
    color: #C1D2E8;
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 40px;

}
.Testimonials .overlay .Testimonials-desc .btn-test{
    background-color: transparent;
    text-align: center;
    border: 2px solid rgba(255,255,255,.7);;
    color: #fff;
    padding: 10px;
    border-radius:50% ;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
    transition: .4s all ease-in;
    &:hover{
        background-color: #fff;
        color: black;
    }
}


/* <!-- section Testimonials --> */